In [74]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import glob
%matplotlib inline

In [75]:
resultsdir="results/delta10-2/data2/"
list=glob.glob(resultsdir+"resultsIGnu_G*")
print(list)
resultdict={}
N_list=[]
A_list=[]
D_list=[]
Astd_list=[]
Dstd_list=[]

['results/delta10-2/data2/resultsIGnu_G100.csv', 'results/delta10-2/data2/resultsIGnu_G1000.csv', 'results/delta10-2/data2/resultsIGnu_G10000.csv', 'results/delta10-2/data2/resultsIGnu_G200.csv', 'results/delta10-2/data2/resultsIGnu_G2000.csv', 'results/delta10-2/data2/resultsIGnu_G50.csv', 'results/delta10-2/data2/resultsIGnu_G500.csv', 'results/delta10-2/data2/resultsIGnu_G5000.csv']

In [76]:
for file in list:
    front=file.find("IGnu_G")
    dot=file.find(".")
    Nname=file[front+6:dot]
    N=int(Nname)
    N_list.append(N)
    data=pd.read_csv(file)
    data=data[1:]
    mean_A=data['mean_A'].mean()
    mean_Astd=data['std_A'].mean()
    mean_D=data['mean_D'].mean()
    mean_Dstd=data['std_D'].mean()
    A_list.append(mean_A)
    D_list.append(mean_D)
    Astd_list.append(mean_Astd)
    Dstd_list.append(mean_Dstd)
    print(N, mean_A, mean_Astd, mean_D, mean_Dstd)

100 10.144652624343301 297.44259810077097 1.0187957100014622 0.055199622758662796
1000 27.515936374476173 813.9041700975077 0.9877312260478502 0.02651169569059238
10000 1.100960738308463 0.1860133109055052 0.9985602222081552 0.015063771906770109
200 6.965053719295754 288.03297394846106 1.0370661938648402 0.031182795067230554
2000 17.644152758962754 824.5834728667462 1.0039300924403562 0.03146935027098881
50 8.92436077681159 267.7746501235578 1.034362806359779 0.07068289101029951
500 12.308959497615112 395.3062841121019 1.0262389162273575 0.029623538798727617
5000 1.1653789579118579 0.7760911194360796 0.9985974007742878 0.021653004616508008

In [77]:
N_list=np.array(N_list)
A_list=np.array(A_list)
D_list=np.array(D_list)
Astd_list=np.array(Astd_list)
Dstd_list=np.array(Dstd_list)

#now sort
idx   = np.argsort(N_list)

N_list = N_list[idx]
A_list = A_list[idx]
D_list = D_list[idx]
Astd_list = Astd_list[idx]
Dstd_list = Dstd_list[idx]

datadict={ 'N':N_list,
           'A':A_list,
           'D':D_list,
           'Astd':Astd_list,
           'Dstd':Dstd_list
         }

df=pd.DataFrame(datadict)
df

           A        Astd         D      Dstd      N
0   8.924361  267.774650  1.034363  0.070683     50
1  10.144653  297.442598  1.018796  0.055200    100
2   6.965054  288.032974  1.037066  0.031183    200
3  12.308959  395.306284  1.026239  0.029624    500
4  27.515936  813.904170  0.987731  0.026512   1000
5  17.644153  824.583473  1.003930  0.031469   2000
6   1.165379    0.776091  0.998597  0.021653   5000
7   1.100961    0.186013  0.998560  0.015064  10000